.list-container {
  position: relative;
  width: 80%;

  .user-table {
    overflow-x: auto;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;

    td, th {
      padding: 5px;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: cadetblue;
      color: white;
    }

    td {
      font-size: 0.8em;
      font-weight: bolder;
      width: 25%;
    }

    td:nth-child(4) {
      width: 15%;
    }

    td:nth-child(5) {
      width: 10%;
    }

    tr:nth-child(even) {
      background-color: rgb(95, 158, 160, 0.05);
    }

    tr:hover {
      background-color: rgb(95, 158, 160, 0.2);
    }
    .archive-link {
      text-decoration: none;
      color: rgb(170 209 210);
      font-size: smaller;
      font-weight: normal;
    }
    .archive-link:hover {
      color: white;
      transition-duration: 0.3s;
    }
  }

  .btn-small {
    margin-right: 2px;
    padding: 2px 5px;
    color: white;
    background-color: rgb(95, 158, 160, 0.6);
    border-radius: 2px;
    border-style: none;
  }

  .btn-small:hover {
    background-color: cadetblue;
    transition-duration: 0.3s;
  }
}